<template name="_header">

  <ul id="user-account" class="dropdown-content">
    {{# if currentUser}}
      <li><a href="{{pathFor 'me'}}"><i class="mdi-action-assignment-ind"></i>Profile</a></li>
      <li><a href="{{pathFor 'logout'}}"><i class="mdi-action-input"></i>Sign Out</a></li>
    {{else}}
      <li><a href="{{pathFor 'login'}}">Sign In</a></li>
    {{/if}}
  </ul>

  <nav role="navigation">
    <div class="nav-wrapper">
      <div class="container">
      <a href="{{pathFor 'home'}}" class="brand-logo">{{appTitle}}</a>
      <a href="#" data-activates="side-nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
      <ul class="right">
        <li class="{{isActiveRoute 'me'}}"><a class="dropdown-button" href="#!" data-activates="user-account"><i class="mdi-action-perm-identity"></i></a></li>
      </ul>
      <ul class="right hide-on-med-and-down">
        <li class="waves-effect waves-light {{isActiveRoute 'home'}}"><a href="{{pathFor 'home'}}"><i class="mdi-action-home"></i></a></li>
        <li class="waves-effect waves-light waves-effect waves-light {{isActiveRoute 'users'}}"><a href="{{pathFor 'users'}}"><i class="mdi-action-view-module"></i></a></li>
        <li class="waves-effect waves-light {{isActiveRoute 'admin'}}"><a href="{{pathFor 'admin'}}"><i class="mdi-av-equalizer"></i></a></li>
      </ul>
      <ul class="side-nav" id="side-nav-mobile">
        <li class="{{isActiveRoute 'home'}}"><a href="{{pathFor 'home'}}"><i class="mdi-action-home">Home</i></a></li>
        <li class="{{isActiveRoute 'users'}}"><a href="{{pathFor 'users'}}"><i class="mdi-action-view-module">Users</i></a></li>
        <li class="{{isActiveRoute 'admin'}}"><a href="{{pathFor 'admin'}}"><i class="mdi-av-equalizer">Admin</i></a></li>
      </ul>
    </div>
    </div>
  </nav>

</template>
