body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

main div.container {
  background-color: #fff;
}

.parallax {
  position : static;
}

/* Icons */
.material-icons {
  color : $primary-color;
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}
